body {
  font-family: "Raleway", sans-serif;
  background-color: black;
  color: white;

  font-family: 'Martel Sans', sans-serif !important;
  
  
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

#Hero-Section h1{
  font-family: "My Soul", cursive !important;
  font-style: italic !important;
  font-size: normal !important;
}

#Hero-Section h3{
  font-family: "My Soul", cursive !important;
  font-style: italic !important;
  font-size: normal !important;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: black !important;
}

.ms-auto {
  margin-left: 40% !important;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

 .text-end{
  text-align: center !important;
  text-size-adjust: 50% !important;
} 

 .display-1 {
  font-size: 8rem;
}
.display-2 {
  font-size: 2rem;
}



/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
